// https://lospec.com/palette-list/zughy-32
$zughy-woody-brown: #472d3c;
$zughy-congo-brown: #5e3643;
$zughy-spicy-mix: #7a444a;
$zughy-matrix: #a05b53;
$zughy-antique-brass: #bf7958;
$zughy-porsche: #eea160;
$zughy-maize: #f4cca1;
$zughy-conifer: #b6d53c;
$zughy-sushi: #71aa34;
$zughy-goblin: #397b44;
$zughy-mineral-green: #3c5956;
$zughy-thunder: #302c2e;
$zughy-don-juan: #5a5353;
$zughy-spicy-pink: #7d7071;
$zughy-zorba: #a0938e;
$zughy-sisal: #cfc6b8;
$zughy-iceberg: #dff6f5;
$zughy-spray: #8aebf1;
$zughy-scooter: #28ccdf;
$zughy-astral: #3978a8;
$zughy-east-bay: #394778;
$zughy-martinique: #39314b;
$zughy-mulled-wine: #564064;
$zughy-cannon-pink: #8e478c;
$zughy-hopbush: #cd6093;
$zughy-sundown: #ffaeb6;
$zughy-buttercup: #f4b41b;
$zughy-ecstasy: #f47e1b;
$zughy-cinnabar: #e6482e;
$zughy-medium-carmine: #a93b3b;
$zughy-rum: #827094;
$zughy-comet: #4f546b;

// https://github.com/altercation/solarized
$solarized-170: #002b36;
$solarized-150: #073642;
$solarized-100: #586e75;
$solarized-90: #657b83;
$solarized-70: #839496;
$solarized-60: #93a1a1;
$solarized-20: desaturate(#eee8d5, 10%);
$solarized-10: desaturate(#fdf6e3, 10%);
