@import "./colors.scss";
@import "./vars.scss";
@import "./plugins.scss";

div[class*="language-"].ext-vue:before {
  display: none;
}

h1 {
  letter-spacing: 0.4px;
}

.home {
  .footer {
    border-top: 0;
    color: var(--c-text-lightest);
  }

  .theme-default-content {
    text-align: center;
  }

  .hero {
    h1 {
      margin-bottom: 0.05em;
      font-size: 56px;
      letter-spacing: -0.005em;
    }

    .description {
      margin-top: 0.05em;
      letter-spacing: -0.004em;
      color: var(--c-text);
    }
  }
}

.hero img {
  height: 280px;
}

html.dark {
  .navbar .logo {
    filter: opacity(0.925);
  }
}
